---
import Layout from '../layouts/Layout.astro';
import { CheckInScanner } from '../components/CheckInScanner';
import { Toaster } from '../components/ui/sonner';
---

<Layout title="Check-in Scanner">
  <div class="min-h-screen">
    <main class="min-h-screen">
      <CheckInScanner client:load standalone={true} />
    </main>
    <Toaster client:load position="top-center" richColors />
  </div>
</Layout>
